* {
    padding: 0;
    margin: 0;
    transition: 0.4s linear;
}
  
html {
    box-sizing: border-box;
    font-size: 0;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    display: block;
}